body {
    margin: 0 10% 0 10%;
    padding: 0;
    max-width: inherit;
    background: linear-gradient(to top,#ffffff , #A6B6BA);
}
header {
    height: 3vh;
    margin: 0;
    background-color: white;

}
footer{
    height: 4vh;
    font-size: large;
    text-align: center;
    padding: 0 0;
    background: darkblue;
    color: #f9f9f9;
    display: flex;
    flex: 0 0 auto;
}
.content {
    flex: 1 0 auto;
}

.content {
    min-height: calc(100vh - 4vh);
}
nav {
    background: white;
    overflow: hidden;
}
main {
    background: #f9f9f9;
    overflow: hidden;
}
aside {
    background: #eee;
}
/* FLEXBOX-BASED LAYOUT */
body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,#ffffff , #A6B6BA);
}
.container {
    -webkit-box-shadow: -5px 0px 23px -1px rgba(107,138,143,1);
    -moz-box-shadow: -5px 0px 23px -1px rgba(107,138,143,1);
    box-shadow: -5px 0px 23px -1px rgba(107,138,143,1);
    display: flex;
    flex: 1;
}
main {
    flex: 1;
    padding: 0 0;
    flex-direction: column;
    display: flex;
}
nav {
    flex: 0 0 24%;
    order: -1;
}

.Order__num{ /*левая часть элемента списка*/
    float: left;
    width: 60%;
    height: 100%;
    background: white;
    text-align: left;
}
.Order__date{ /*правая часть элемента списка*/
    float: right;
    width: 40%;
    height: 100%;
    background: white;

}

.left hr{
    margin-bottom: 0;
}

.Order{
    width: 100%;
    height: 35vh;
    background: powderblue;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid black;
}
.shippingAdress{
    width: 100%;
    height: 25vh;
    background: white;
    border-bottom: 1px solid black;
    overflow:hidden;
    margin-bottom: 0;
}
.Order__Cost{
    background: powderblue;
    float: right;
    width: 45%;
    height: 100%;
    margin-right: 5%;
    text-align: right;
}
.Order__Cost h3{
    margin-bottom: 0;
}
.Order__Imform{
    float: left;
    height: 100%;
    width: 45%;
    background: powderblue;
    margin-left: 5%;
    text-align: left;

}
.Order__Strip{
    margin-top: 0.5vh;
}
h4{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 100;
}
h3{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight:300;

}
.table h3{
    margin-left: 5%;
    margin-bottom: 1px;
}
.orders{
    margin-left: 30%;vertical-align: top;
}
.scrolling-table__first-row{
    background: rgba(149,147,146,0.84);
}
h5{
    margin-bottom: 1%;
    font-weight: 100;
    margin-top: 0;
    font-size: 0.83em;
}
.shippingAdress__margins{
    height: 100%;
    width: 29%;
    float: left;
    background: white;
    text-align: right;
}
.shippingAdress__meanings{
    height: 100%;
    width: 70%;
    float: right;
    text-align: left;
    background :white;
}

.shippingAdress hr{
    width:90%;
    margin:1em auto;
    border:none;
    height:1px;
    background:black;
    margin-top: 1px;
}
.shippingAdress p{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1px;
}

.list__container li{
    list-style-type:none;
    width: 99%;
    height: 100px;
    border-bottom: 1px solid black;
}

.list__container ul{
    margin-top: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
}
.Order__date h5{
    color: green;
    margin-left: 48%;
}
.footer__filter{
height: inherit;
    width: 24%;
    background: rgba(30,50,75,0.84);
    border-right: 1px solid white;

}
.footer__mail{
height: inherit;
    width: 76%;
    background: rgba(30,50,75,0.84);

}
.list__container{
    width:100%;
    overflow: auto;
    height: 89%;
    display: flex;
}
.pic{
    padding-top: 2px;
    float: right;
}
.table{
    height: 36vh;
    width: 100%;
    background: rgba(235,233,232,0.69);
    margin-top: 0;
    flex-direction: column;
    display: flex
}
.lc { /* Стиль для первой колонки */
    text-align: left;
}
.search {

    width: 96%;
    margin-bottom: 1%;
    margin-left: 2%;
    position: relative;
    background: white;
}

.search input {

    border: none;
}

.search .input {
    width: 100%;
    padding: 4px 37px 4px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    background: white;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}


.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}


.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(../img/go.png) 50% no-repeat;
    opacity: 0.5;
}
.search .submit:hover {
    opacity: 0.8;
}
input[type="search"] {
    -webkit-appearance: none;
}
::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}


.scrolling-table {
    width: 90%; /* Ширина таблицы */
    height: 27vh;
    background: white;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;

}

.scrolling-table th {
    color: darkslategrey;

}
.Order__date h5{
    margin-left: 48%;
}
.scrolling-table tr td {
    width: 100%;
    padding: 2% 5px;
    border-bottom: 1px solid darkgrey;
    text-align: center;
    color: #666;
}
.scrolling-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-color: rgba(197,195,194,0.69);
}
.scrolling-table tr td:last-child {
    border-right: none;
}

.scrolling-table tr:last-child td {
    border-bottom: none;
}
.scrolling-table tbody {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;}
